<a href="https://colab.research.google.com/github/gizattos/Titanic/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import warnings 

## Preprocessamento
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.dummy import DummyClassifier
from sklearn.svm import SVC


## Modelos
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

## Avaliando nossos modellos
from sklearn.model_selection import cross_val_score, GridSearchCV

## Automatizando tratamento e treinamento
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv('/content/titanic.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [5]:
df.columns = [x.lower() for x in df.columns]
df.head()

   passengerid  survived  pclass  ...     fare cabin  embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [7]:
## porcentagem de valores nulos na coluna cabin
df.cabin.isna().sum() / df.shape[0]

0.7710437710437711

In [0]:
x = df.loc[:,['pclass','sex','age','sibsp','parch','fare','embarked']]
y = df.survived

In [14]:
y.isna().sum()

0

In [13]:
x.isna().sum()

pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
dtype: int64

In [0]:
## Separando as features
cat_features = ['pclass','sex','embarked']
num_features = ['age','sibsp','parch','fare']

In [0]:
## criando os passos para features categóricas e númericas
steps_cat = [('imputer_categorica',SimpleImputer(strategy='most_frequent')),('ohe', OneHotEncoder())]
steps_num = [('imputer_numericas',SimpleImputer(strategy='mean'))]

In [0]:
## criando pipelines
pipe_cat = Pipeline(steps_cat)
pipe_num = Pipeline(steps_num)

In [0]:
## criando transformadores
transformers = [('cat',pipe_cat, cat_features),('num',pipe_num, num_features)]
col_transformer = ColumnTransformer(transformers)

In [0]:
pipe_final = Pipeline(steps = [('pre_processing',col_transformer),('random_forest',RandomForestClassifier())])

In [0]:
def compare_models(model1,model2,x,y,cv):
  print('--COMPARANDO MODELOS--')
  print(f'Model1: {cross_val_score(model1,X=x,y=y,cv=cv).mean()}')
  print(f'Model2: {cross_val_score(model2,X=x,y=y,cv=cv).mean()}')

In [43]:
##DummyClassifier(strategy='most_frequent').fit(x,y)
dummy = DummyClassifier(strategy='most_frequent')
compare_models(dummy,pipe_final,x,y,cv=10)

--COMPARANDO MODELOS--
Model1: 0.616167290886392
Model2: 0.8048064918851436

In [55]:
params = {'random_forest__n_estimators': [100,200,300,400,500,600,700],
          'random_forest__max_depth': [5,6,7,8,9,10]}
grid = GridSearchCV(pipe_final,param_grid=params,cv=2)
grid.fit(x,y)

GridSearchCV(cv=2, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('pre_processing',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('cat',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('imputer_categorica',
                                                                                          SimpleImputer(add_indicator=False,
                                                                                                        copy=True,
                                                                                                        fill_value=None,
                                                                                                        missing_values=nan,
                                                                                                        strategy='most_fr...
                                                               min_weight_fraction_leaf=0.0,
                                                               n_estimators=100,
                                                               n_jobs=None,
                                                               oob_score=False,
                                                               random_state=None,
                                                               verbose=0,
                                                               warm_start=False))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'random_forest__max_depth': [5, 6, 7, 8, 9, 10],
                         'random_forest__n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [56]:
grid_df = pd.DataFrame(grid.cv_results_)
grid_df

    mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0        0.161705      0.002832  ...        0.013226               42
1        0.286692      0.001440  ...        0.016597               37
2        0.422287      0.004725  ...        0.016594               38
3        0.562415      0.009963  ...        0.019960               40
4        0.702965      0.005315  ...        0.017716               41
5        0.823826      0.006910  ...        0.019965               36
6        0.970504      0.007749  ...        0.022205               39
7        0.151740      0.003123  ...        0.017731               29
8        0.291444      0.000471  ...        0.021096               32
9        0.422907      0.005083  ...        0.018847               34
10       0.569199      0.002503  ...        0.014357               35
11       0.703088      0.004690  ...        0.008762               11
12       0.835850      0.003081  ...        0.006515               18
13       0.985001      0.006920  ...        0.018849               33
14       0.149557      0.000618  ...        0.000904               15
15       0.297068      0.007118  ...        0.007641                5
16       0.432474      0.008168  ...        0.007641                5
17       0.567924      0.004900  ...        0.009883               14
18       0.709153      0.004748  ...        0.008757               25
19       0.852502      0.007638  ...        0.009888                1
20       0.999040      0.005895  ...        0.006515               18
21       0.150468      0.000404  ...        0.022223               28
22       0.298360      0.010337  ...        0.013241               31
23       0.442168      0.004333  ...        0.009886                3
24       0.576570      0.002154  ...        0.015491               22
25       0.722346      0.002218  ...        0.013249               17
26       0.913571      0.049132  ...        0.014372               12
27       1.011024      0.001603  ...        0.009886                3
28       0.153618      0.000472  ...        0.019985                7
29       0.299160      0.002318  ...        0.016615               20
30       0.446048      0.007012  ...        0.017741                8
31       0.595200      0.016762  ...        0.014372               12
32       0.738870      0.004058  ...        0.015491               22
33       0.874708      0.003370  ...        0.016615               20
34       1.027649      0.003638  ...        0.017741                8
35       0.155516      0.001344  ...        0.014367               26
36       0.301531      0.003005  ...        0.019983               16
37       0.447131      0.001785  ...        0.012123               27
38       0.592581      0.003966  ...        0.017731               29
39       0.745787      0.003051  ...        0.013254                2
40       0.885165      0.006465  ...        0.015491               22
41       1.038296      0.003651  ...        0.017741                8

[42 rows x 12 columns]

In [57]:
## pegando o melhor resultado
grid.best_params_

{'random_forest__max_depth': 7, 'random_forest__n_estimators': 600}